# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# SQL Server files
*.mdf
*.ldf

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

#Christian Sack Relevants
App_Data/
*gitignore.*